.cardDate {
    position: absolute;
    top: 285px;
    left: 20px;
    background-color:#0E3D9E;
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.25rem 0.7rem;
    border-radius: 4px;
  }