.breadCrumbContainer {
    text-align: left;
  a {
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;

    &::after {
      content: '>';
      margin: 0 7px;
    }

    &:last-child {
      &::after {
        content: '';
      }
    }

    &.disallowed{
      pointer-events: none;
    }
  }
}
