@use '@styles/partials/variable.scss' as *;
@use '@styles/partials/_fonts.scss' as *;
@use '@styles/partials/_mixins.scss' as *;

.contactSection {
  padding-block: 2rem;
  background-color: #1a779a;

  .address{
    color: #fff;
    text-align: left;
    padding-inline: 3rem;
    h3{
      color: #fff;
    }
    p{
      margin-bottom: 0;
    }
  }

  .contactGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 2rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .contactItem {
    padding: 0;
    margin-bottom: 0.5rem;
    transition: transform 0.2s ease;

    &:hover {
      transform: translateY(-2px);
    }

    .title {
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 0;
      text-align: left;
      color: #fff;
    }

    .emailLink {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: #fff;
      text-decoration: none;
      font-size: 1rem;
      @media (max-width: $sm) {
        align-items: flex-start;
      }

      .icon {
        width: 2.5rem;
        height: auto;
        margin-right: 1.5rem;
        @media (max-width: $sm) {
          width: 1.5rem;
          margin-right: 0.5rem;
          margin-top: 0.25rem;
        }
      }

      .mailRef {
        overflow: hidden;
        word-wrap: break-word;
        text-align: left;
        max-width: calc(100vw - 24px - 4rem);

        a {
          font-size: 1.1rem;
          font-weight: 500;
          color: #fff;
        }
      }

      &:hover {
        text-decoration: underline;
      }

      .icon {
        color: #993366;
      }
    }
  }
}
